@model DataModel.RequestModel.Page<DataModel.ViewModel.OrderViewModel>
@using Common;
@if (Model.Data != null)
{
    foreach (var item in Model.Data)
    {
        {
            <tr>
                <td width="20%">@Auxiliary.ConvertMobilePhone(item.SalerUserName)</td>

                <td width="25%">@item.CreateTime</td>

                <td width="15%">@item.Qty</td>

                @if (ViewBag.Type==1&&ViewBag.IsMoney==1)
                {
                     <td width="15%">1(¥)</td>
                }
                else if (ViewBag.Type == 1 && ViewBag.IsMoney != 1)
                {
                     <td width="15%">@(((decimal)1/ViewBag.ZfcPrice) + "(ZFC)")</td>
                }else
                {
                     <td width="15%">@(ViewBag.ZfcPrice + "(¥)")</td>
                }

                <td width="15%">@item.BuyMoney</td>

                <td width="10%"><a href="javascript:viod(0);" id="btnBuy" orderid="@item.OrderId" saleruserid="@item.SellUserId" class="wine_sub">购买</a></td>

            </tr>
        }
    }
}